doctype html
html
  head
    meta(charset='utf-8')
    |     
    title Popcorn Time - Terms of service
    // Use latest IE Engine
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Metadata
    meta(name='keywords', content='popcorn,time,download,streaming,movies,tv,shows,free,hd,android,popcorn-time,popcorntime')
    |     
    meta(name='description', content='TOS, Skip the downloads! Watch the best movies & TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.')
    |     
    meta(name='author', content='Popcorn Time')
    |     
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no')
    |     
    meta(name='language', content='english')
    |     
    meta(name='google', content='notranslate')
    |     
    meta(name='google-site-verification', content='MD35CXFqrNQJZy0bQKGSdtX7cTAYov9mHP64rTYsgUQ')
    // Facebook OpenGraph Metadata
    meta(property='og:title', content='Popcorn Time')
    |     
    meta(property='og:description', content='Skip the downloads! Watch the best movies & TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.')
    |     
    meta(property='og:type', content='website')
    |     
    meta(property='og:url', content='https://popcorntime.sh/tos')
    |     
    meta(property='og:image', content='https://popcorntime.sh/images/graph-image.png')
    // 1200x630px
    // Twitter Cards Metadata
    meta(name='twitter:card', content='summary')
    |     
    meta(name='twitter:url', content='https://popcorntime.sh/tos')
    |     
    meta(name='twitter:domain', content='popcorntime.sh')
    |     
    meta(name='twitter:title', content='Popcorn Time')
    |     
    meta(name='twitter:description', content='Skip the downloads! Watch the best movies & TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.')
    |     
    meta(name='twitter:image', content='images/icon152.png')
    |     
    meta(name='twitter:site', content='@popcorntimetv')
    |     
    meta(name='twitter:creator', content='@popcorntimetv')
    // Bookmark/Shortcut Icons
    link(rel='shortcut icon', href='favicon.ico')
    |     
    meta(name='apple-mobile-web-app-title', content='Popcorn Time')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon152.png', sizes='152x152')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon144.png', sizes='144x144')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon120.png', sizes='120x120')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon114.png', sizes='114x114')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon76.png', sizes='76x76')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon72.png', sizes='72x72')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon57.png', sizes='57x57')
    // CSS
    link(href='css/main.css', media='all', rel='stylesheet', type='text/css')
  body.tos(lang='en')
    .text
      nav.fixed-width
        a.logo-link(href='https://popcorntime.sh/tos')
          h1#logo Popcorn Time Terms of service
      | &#x9;&#x9;
      header
        | Terms of service
      | &#x9;&#x9;
      .tos-container
        h3 Your Acceptance
        | &#x9;&#x9;&#x9;
        p
          | By using the &quot;POPCORN TIME&quot; app you signify your agreement to (1) these terms and conditions (the &ldquo;Terms of Service&rdquo;).
        | &#x9;&#x9;&#x9;
        h3 Privacy Policy.
        | &#x9;&#x9;&#x9;
        p
          | You understand that by using &quot;POPCORN TIME&quot; you may encounter material that you may deem to be offensive, indecent, or objectionable, and that such content may or may not be identified as having explicit material. &quot;POPCORN TIME&quot; will have no liability to you for such material &ndash; you agree that your use of &quot;POPCORN TIME&quot; is at your sole risk.
        | &#x9;&#x9;&#x9;
        h3 DISCLAIMERS
        | &#x9;&#x9;&#x9;
        p
          | YOU EXPRESSLY AGREE THAT YOUR USE OF &quot;POPCORN TIME&quot; IS AT YOUR SOLE RISK. &quot;POPCORN TIME&quot; AND ALL PRODUCTS ARE PROVIDED TO YOU &ldquo;AS IS&rdquo; WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. &quot;POPCORN TIME&quot; MAKES ABSOLUTELY NO WARRANTIES WHATSOEVER, EXPRESS OR IMPLIED. TO THE FULLEST EXTENT POSSIBLE UNDER APPLICABLE LAWS, YIFY DISCLAIMS ALL WARRANTIES, EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR OTHER VIOLATIONS OF RIGHTS.
        | &#x9;&#x9;&#x9;
        h3 LIMITATION OF LIABILITY
        | &#x9;&#x9;&#x9;
        p
          | &quot;POPCORN TIME&quot; IS NOT RESPONSIBLE FOR ANY PROBLEMS OR TECHNICAL MALFUNCTION OF ANY WEBSITE, NETWORK, COMPUTER SYSTEMS, SERVERS, PROVIDERS, COMPUTER EQUIPMENT, OR SOFTWARE, OR FOR ANY FAILURE DUE TO TECHNICAL PROBLEMS OR TRAFFIC CONGESTION ON THE INTERNET OR &quot;POPCORN TIME&quot; OR COMBINATION THEREOF, INCLUDING ANY INJURY OR DAMAGE TO USERS OR TO ANY COMPUTER OR OTHER DEVICE ON OR THROUGH WHICH &quot;POPCORN TIME&quot; IS PROVIDED. UNDER NO CIRCUMSTANCES WILL &quot;POPCORN TIME&quot; BE LIABLE FOR ANY LOSS OR DAMAGE, INCLUDING PERSONAL INJURY OR DEATH, RESULTING FROM YOUR USE OF &quot;POPCORN TIME&quot;.
        | &#x9;&#x9;&#x9;
        h3 SOURCE MATERIAL
        | &#x9;&#x9;&#x9;
        p
          | ALL MOVIES ARE NOT HOSTED IN ANY SERVER AND ARE STREAMED USING THE P2P BIT TORRENT PROTOCOL. ALL MOVIES ARE PULLED IN FROM THE YIFY MOVIE DATABASE. BY WATCHING A MOVIE WITH THIS APPLICATION YOU MIGHT BE COMMITING COPYRIGHT VIOLATIONS DEPENDING ON YOUR COUNTRY&apos;S LAWS. WE DO NOT TAKE ANY RESPONSIBILITIES.
        | &#x9;&#x9;&#x9;
        h3 Ability to Accept Terms of Service
        | &#x9;&#x9;&#x9;
        p
          | By using &quot;POPCORN TIME&quot; or accessing this site you affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Service, and to abide by and comply with these Terms of Service. In any case, you affirm that you are over the age of 13, as the Service is not intended for children under 13. If you are under 13 years of age, then please do not use the Service. There are lots of other great web sites for you. Talk to your parents about what sites are appropriate for you.
    | &#x9;        
    section#footer
      nav.clear-fix
        a.logo(href='https://popcorntime.sh/', title='Popcorn Time') Popcorn time
        |                 
        ul.social
          li
            a.blog(href='https://blog.popcorntime.sh/', title='Blog', target='_blank') Blog
          li
            a.discourse(href='https://www.reddit.com/r/PopCornTime/', title='Forum', target='_blank') Forum
          li
            a.twitter(href='https://twitter.com/popcorntimetv', title='Twitter', target='_blank') Twitter
          li
            a.facebook(href='https://www.facebook.com/PopcornTimedotsh', title='Facebook', target='_blank') Facebook
          li
            a.reddit(href='https://www.reddit.com/r/PopCornTime/', title='Reddit', target='_blank') Reddit
          li
            a.github(href='https://github.com/popcorn-official/', title='Github', target='_blank') Github
      |             
      footer
        hr
        |                 
        p(data-i18n='[html]footer.love')
          | Made with 
          span &#x2764;
          |  by a bunch of geeks from All Around The World
        |                 
        small
          a#status(data-i18n='footer.status', href='http://status.popcorntime.sh/', target='_blank') Status
          |  &mdash;
          |                     
          a(data-i18n='footer.tos', href='https://popcorntime.sh/tos') Terms of Service
          |  &mdash;
          |                     
          a(data-i18n='footer.faq', href='https://popcorntime.sh/faq') FAQ
          |  &mdash;
          |                     
          a(data-i18n='footer.con', href='https://blog.popcorntime.sh/') Contact us / About
    // JavaScript Libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js', type='text/javascript')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js', type='text/javascript')
    |     
    script(type='text/javascript', src='js/main.js')
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-W5LM6X', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W5LM6X');
    // End Google Tag Manager
